@page "/secure"

@using BlazorApp.Shared
@using Microsoft.Extensions.Configuration
@inject HttpClient Http
@inject NavigationManager NavManager
@inject IConfiguration Configuration
@attribute [Authorize]

<h1>Quickbooks connection</h1>

<p>This component demonstrates calling a function endpoint which connects to Quickbooks.</p>

@if (url == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Authorization URL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@url</td>
            </tr>
        </tbody>
    </table>
}

@code {
    private string url;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            url = await Http.GetStringAsync("/api/GetAuthorizationURL");
            NavManager.NavigateTo(url);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
